<html>
<head>
<title>Home</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'home.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
</head>
<body>
<br><br><br><br><br><br><br><center><h1><b>WellnessHuB</b></h1>
  <center> <br><br><br><br><br><br><p><b>WellnessHuB is a website <br> where you can make online appointments <br>for COVID vaccination<br>
      from the comforts of your home.<br><br>
      After registration you <br>will recieve the  details <br> about your appointment via text message.</b>

    </p>
  </center>
  <a href="{% url 'register' %}"><input type="button" name="Register" value=" Go To Registeration" class="button button1"> </a>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><input type="button"  value=".">

</center>
</body>
